{% extends 'layout.html' %}
{% load static %}

{% block body %}

    <!-- Header -->
    <header class="header" style="background-image:linear-gradient(to right bottom,rgba(97, 104, 224, 1),rgba(0, 0, 0, 0));">
      <div class="container">
        <div class="row align-items-center h-100">

          <div class="col-md-7 mx-auto" >
            <h1>Hakkımızda</h1>
            <p class="lead-3">Şirketimiz 2013 yılında, yeni girişimler için güzel şablonlar oluşturma misyonuyla kuruldu. Etkileyici web siteleri oluşturmak için güzel, modern tasarımları temiz, işlevsel ve yüksek performanslı kodlarla birleştirebiliriz. Ve hepsinden önemlisi, işimiz konusunda çok tutkuluyuz.</p>
          </div>

        </div>
      </div>
    </header><!-- /.header -->


    <!-- Main Content -->




          <!--
          |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
          | Numbers
          |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
          !-->
          <section class="section bg-gray">
            <div class="container">
              <div class="row gap-y">

                <div class="col-md-4">
                  <div class="row">
                    <div class="col-6">
                      <h4 class="lead-7 text-right" data-provide="countup" data-from="0" data-to="42"></h4>
                    </div>

                    <div class="col-6">
                      <p class="small text-uppercase ls-2 mb-2">Projeler</p>
                      <p><i class="icon-briefcase lead-4 mb-0"></i></p>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="row">
                    <div class="col-6">
                      <h4 class="lead-7 text-right" data-provide="countup" data-from="0" data-to="3500"></h4>
                    </div>

                    <div class="col-6">
                      <p class="small text-uppercase ls-2 mb-2">Müşteriler</p>
                      <p><i class="icon-profile-male lead-4 mb-0"></i></p>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="row">
                    <div class="col-6">
                      <h4 class="lead-7 text-right" data-provide="countup" data-from="0" data-to="100" data-prefix="%"></h4>
                    </div>

                    <div class="col-6">
                      <p class="small text-uppercase ls-2 mb-2">Memnuniyet</p>
                      <p><i class="icon-happy lead-4 mb-0"></i></p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </section>



            <!--
            |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
            | Our Mission
            |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
            !-->
            <section id="section-mission" class="section">
              <div class="container">
                <div class="row gap-y align-items-center">

                  <div class="col-md-7 mx-auto">
                    <h2>Misyonumuz</h2>
                    <p class="lead">Biz yaratıcı ve deneyimli, tasarımcı ve geliştiricilerden oluşan bir ekibiz. Eskiden serbest olarak çalışıyorduk dolayısıyla neye talebin olduğunu biliyoruz dahası, müşterilerinizin sizden ne istediğini biliyoruz.</p>

                    <br>

                    <p>
                      <i class="ti-check text-success mr-2"></i>
                      <span> Müşteri Memnuniyeti</span>
                    </p>

                    <p>
                      <i class="ti-check text-success mr-2"></i>
                      <span> Yüksek Kalitede Marka Tasarımları</span>
                    </p>

                    <p>
                      <i class="ti-check text-success mr-2"></i>
                      <span> Yüksek Kalitede Web Tasarımları.</span>
                    </p>

                    <p>
                      <i class="ti-check text-success mr-2"></i>
                      <span> Yüksek Kalitede Mobil Uygulamalar</span>
                    </p>
                  </div>

                </div>
              </div>
            </section>


            <!--
            |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
            | Services
            |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
            !-->
            <section class="section">
              <div class="container">
                <header class="section-header">
                  <small>Hizmetlerimiz</small>
                  <h2>Nasıl Yardımcı Olabilirim?</h2>
                  <hr>
                  <p class="lead">Takımınıza aşağıdaki şekillerde yardımcı olabiliriz. Daha fazla bilgi için bizimle iletişime geçmekten çekinmeyin.</p>
                </header>


                <div class="row gap-y">

                  <div class="col-md-6 col-xl-4">
                    <div class="text-center">
                      <p class="mb-6"><i class="icon-tools text-primary lead-8"></i></p>
                      <h5><strong>Marka & Tasarım </strong></h5>
                      <p>Şık Logo tasarımlarımızla marka adınızı taçlandırın.</p>
                    </div>
                  </div>

                  <div class="col-md-6 col-xl-4">
                    <div class="text-center">
                      <p class="mb-6"><i class="icon-mobile text-primary lead-8"></i></p>
                      <h5><strong>Mobil Uygulamalar</strong></h5>
                      <p>Teknolojiyi en modern mobil uygulama tasarımları ve içerikleriyle yakalayın. İşlevselliği tartışılamaz.</p>
                    </div>
                  </div>

                  <div class="col-md-6 col-xl-4">
                    <div class="text-center">
                      <p class="mb-6"><i class="icon-browser text-primary lead-8"></i></p>
                      <h5><strong>Web Uygulamaları</strong></h5>
                      <p>Web sayfalarınız, masaüstü, tablet ve mobil dahil tüm cihazlarda ve ekran boyutlarında iyi görünür.</p>
                    </div>
                  </div>

                </div>


              </div>
            </section>


                  <!--
                  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
                  | Team
                  |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
                  !-->
                  <section class="section">
                    <div class="container">
                      <header class="section-header">
                        <small>Çalışanlarımız</small>
                        <h2>Muhteşem Ekip</h2>
                        <hr>
                        <p class="lead">Muhteşem ürünler çıkaran küçük ekibimizle tanışın.</p>
                      </header>

                      <div class="row d-flex justify-content-center">
                        <div class="col-md-4 team-2">
                          <a href="#">
                            <img src= "{% static '/assets/img/avatar/1.jpg' %}" alt="...">
                          </a>
                          <h5>Arınç Aslan</h5>
                          <small>Web Tasarımcısı</small>

                          <br>
                          <div class="social social-brand">
                            <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
                            <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="social-gplus" href="#"><i class="fa fa-google-plus"></i></a>
                            <a class="social-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                          </div>
                        </div>


                        <div class="col-md-4 team-2">
                          <a href="#">
                            <img src= "{% static '/assets/img/avatar/2.jpg' %}" alt="...">
                          </a>
                          <h5>Berk Elmas</h5>
                          <small>Web Tasarımcısı</small>

                          <br>
                          <div class="social social-brand">
                            <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
                            <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="social-gplus" href="#"><i class="fa fa-google-plus"></i></a>
                            <a class="social-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                          </div>
                        </div>

                        <div class="col-md-4 team-2">
                          <a href="#">
                            <img src= "{% static '/assets/img/avatar/2.jpg' %}" alt="...">
                          </a>
                          <h5>Hakan Hüdaverdi</h5>
                          <small>Web Tasarımcısı</small>

                          <br>
                          <div class="social social-brand">
                            <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
                            <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
                            <a class="social-gplus" href="#"><i class="fa fa-google-plus"></i></a>
                            <a class="social-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                          </div>
                        </div>

                      </div>

                    </div>
                  </section>


{% endblock %}
